* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Utiliza toda la altura de la ventana */
    margin: 0;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute; /* Permite que el contenedor se posicione en el centro */
}

.tarjeta-formulario {
    background-color: white;
    border-radius: 15px; /* Bordes más redondeados para un look rectangular */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra más marcada */
    width: 100%; /* Ancho del 100% con límite de max-width */
    max-width: 400px; /* Máximo ancho */
    padding: 30px;
    height: auto;
    box-sizing: border-box; /* Asegura que el padding no rompa el diseño */
}

.logo {
    text-align: center;
    margin-bottom: 20px;
}

.logo h1 {
    color: #4A90E2;
    font-size: 30px; /* Ajuste de tamaño */
}

.logo p {
    color: #50C878;
    font-size: 12px;
}

.cambio-formulario {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.cambio-formulario button {
    flex: 1;
    padding: 10px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #E0E0E0;
    color: #888;
    cursor: pointer;
    transition: all 0.3s ease;
}

.cambio-formulario button.activo {
    border-bottom-color: #4A90E2;
    color: #4A90E2;
    font-weight: bold;
}

form {
    display: none;
}

form.activo {
    display: block;
}

.grupo-entrada {
    margin-bottom: 15px;
}

.grupo-entrada label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.grupo-entrada input, 
.grupo-entrada select {
    width: 100%;
    padding: 10px;
    border: 1px solid #DDD;
    border-radius: 5px;
    font-size: 14px;
}

.grupo-entrada .mensaje-error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    display: block;
}

input:invalid {
    border-color: red;
}

.boton-principal {
    width: 100%;
    padding: 12px;
    background-color: #4A90E2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.boton-principal:hover {
    background-color: #397bb1;
}

.volver-inicio {
    display: block;
    text-align: center;
    margin-top: 15px;
    color: #4A90E2;
    text-decoration: none;
    font-size: 14px;
}

@media (max-width: 480px) {
    .tarjeta-formulario {
        width: 95%; /* Más ancho en dispositivos pequeños */
        padding: 20px;
    }
}
